@model CourseViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "CourseSite";
}


<div class="container-fluid">
    <div class="row">
        @for (int i = 0; i < Model.Courses.Count; i++)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 py-2">
                <button name="CollapButton" type="button" class="collapsible bg-success text-white" value="">@Model.Courses[i].Name</button>
                <div class="content" style="border : solid 2px black;">
                    <div>
                        <dl style="margin: 0px 10px 0px 0px;">
                            <dt>
                                @Html.DisplayNameFor(m => m.Courses[i].Duration)
                            </dt>
                            <dd>
                                @Model.Courses[i].Duration
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(m => m.Courses[i].CourseNumber)
                            </dt>
                            <dd>
                                @Model.Courses[i].CourseNumber
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(m => m.Courses[i].NumberOfStudents)
                            </dt>
                            <dd>
                                @Model.Courses[i].NumberOfStudents
                            </dd>
                        </dl>

                        <ul style="display: inline-block; list-style-type:none;">
                            <li style="margin-left: 10px; display: inline-block; list-style-type: none;">
                                @using (Html.BeginForm("EditCourse", "Course", FormMethod.Get))
                                {
                                    @Html.ValidationSummary(true)
                                    <input asp-for="Id" type="number" value="@Model.Courses[i].Id" hidden />
                                    <p hidden>@Html.EditorFor(m => m.Courses)</p>
                                    <button type="submit">Rediger</button>
                                }

                            </li>
                            <li style="margin-left: 10px; display: inline-block; list-style-type: none;">
                                @using (Html.BeginForm("DeleteCourse", "Course", FormMethod.Get))
                                {
                                    @Html.ValidationSummary(true)
                                    <input asp-for="Id" type="number" value="@Model.Courses[i].Id" hidden />
                                    <p hidden>@Html.EditorFor(m => m.Courses)</p>
                                    <button type="submit">Fjern</button>
                                }

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

