@model List<UdlånsWeb.Models.Item>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "AdminSite";
}




@foreach (var item in Model)
{
    <!-- Collapsible for more information on the host-->
    <button name="CollapButton" type="button" class="collapsible" value="">@item.HostName <div style="background-color: forestgreen; width:20px; height:20px;"></div></button>
    <div class="content">
        <div class="container-fluid" style="border : solid 2px black;">
            <dl style="margin: 0px 10px 0px 0px;">
                <dt>
                    Brugernavn:
                </dt>
                <dd>
                    @item.UserName
                </dd>
                <dt>
                    Ip:
                </dt>
                <dd>
                    @item.HostIp<br />
                </dd>
                <dt>
                    Adgangskode:
                </dt>
                <dd>
                    @item.HostPassword<br />
                </dd>
                <dt>
                    VmWare version:
                </dt>
                <dd>
                    @item.VmWareVersion<br />
                </dd>
            </dl>
            <button type="submit">Rediger</button>
        </div>
    </div>
}

