@model ItemViewModel
@{
    ViewData["Title"] = "InfoPage";
}

@for (int i = 0; i < Model.Items.Count; i++)
{
    <!-- Collapsible for more information on the host-->
    <button name="CollapButton" type="button" class="collapsible" value="">@Model.Items[i].HostName</button>
    <div class="content">
        <div>
            @if (Model.Items[i].Rented == false)
            {
                <button class="RentColorGreen"></button>
            }
            else
            {
                <button class="RentColorRed"></button>
            }
            <dl>
                <dt>
                    Brugernavn:
                </dt>
                <dd>
                    @Model.Items[i].UserName
                </dd>
                <dt>
                    Ip:
                </dt>
                <dd>
                    @Model.Items[i].HostIp<br />
                </dd>
                <dt>
                    Adgangskode:
                </dt>
                <dd>
                    @Model.Items[i].HostPassword<br />
                </dd>
                <dt>
                    VmWare version:
                </dt>
                <dd>
                    @Model.Items[i].VmWareVersion<br />
                </dd>
            </dl>
        </div>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            
            <p hidden>@Html.EditorFor(m => m.Items)</p>
            <input asp-for="Id" type="number" value="@i" hidden/>
            
            <input type="submit" value="Lån"/>
        }
    </div>
}

