@model List<UdlånsWeb.Models.ItemModel>
@{
    ViewData["Title"] = "InfoPage";
}
<style>
    .collapsible {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #ccc;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .RentColorGreen {
        background-color: forestgreen;
        width: 20px;
        height: 20px;
        border-radius: 20px 20px;
    }

    .RentColorRed {
        background-color: red;
        width: 20px;
        height: 20px;
        border-radius: 20px 20px;
    }
</style>

@foreach (var item in Model)
{
    <!-- Collapsible for more information on the host-->
    <button name="CollapButton" type="button" class="collapsible" value="">@item.HostName</button>

    <div class="content">
        <div style="border : solid 2px black">
            @if (item.Rented == false)
            {
                <button class="RentColorGreen"></button>
            }
            else
            {
                <button class="RentColorRed"></button>
            }
            <dl>
                <dt>
                    Brugernavn:
                </dt>
                <dd>
                    @item.UserName
                </dd>
                <dt>
                    Ip:
                </dt>
                <dd>
                    @item.HostIp<br />
                </dd>
                <dt>
                    Adgangskode:
                </dt>
                <dd>
                    @item.HostPassword<br />
                </dd>
                <dt>
                    VmWare version:
                </dt>
                <dd>
                    @item.VmWareVersion<br />
                </dd>
            </dl>
            @using (Html.BeginForm("InfoPage", "Home", FormMethod.Post))
            {
                @Html.DisplayForModel(item.Rented)
                <input type="submit" style="" value="Save"/>
            }
        </div>
    </div>
}

