@model UdlånsWeb.Models.UserViewModel
@{
    ViewData["Title"] = "UserPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        @for (int i = 0; i < Model.Users.Count; i++)
        {
            <div class="table-responsive">
                <table  class="table-bordered w-100 p-3" style="text-align:center;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(x => x.Users[i].FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(x => x.Users[i].Initials)
                            </th>
                            <th>
                                @Html.DisplayNameFor(x => x.Users[i].Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(x => x.Users[i].Admin)
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(x => x.Users[i].FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(x => x.Users[i].Initials)
                            </td>
                            <td>
                                @Html.DisplayFor(x => x.Users[i].Email)
                            </td>
                            <td>
                               @if(Model.Users[i].Admin == true)
                               {
                                   <p style="height: 10px">Ja</p>
                               }
                               else
                               {
                                   <p style="height: 10px">Nej</p>
                               }
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul style="display: inline-block; list-style-type:none;">
                    <li style="margin-left: 10px; display: inline-block; list-style-type: none;">
                        @using (Html.BeginForm("EditUser", "User", FormMethod.Get))
                        {
                            @Html.ValidationSummary(true)
                            <input asp-for="Id" type="number" value="@Model.Users[i].Id" hidden />
                            <button type="submit">Rediger</button>
                        }
                    </li>
                    <li style="margin-left: 10px; display: inline-block; list-style-type: none;">
                        @using (Html.BeginForm("DeleteUser", "User", FormMethod.Get))
                        {
                            @Html.ValidationSummary(true)
                            <input asp-for="Id" type="number" value="@Model.Users[i].Id" hidden />
                            <button type="submit">Fjern</button>
                        }
                    </li>
                </ul>
            </div>
        }
    </div>
</div>





