@model UserViewModel
@{
    ViewData["Title"] = "UserPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@for (int i = 0; i < Model.Users.Count; i++)
{
    <div style="border-bottom:solid 2px black;">
        <dl>
            <dt>
                Navn:
            </dt>
            <dd>
                @Model.Users[i].Name
                <br />
                @using (Html.BeginForm("UserPage", "User", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    <input asp-for="Id" type="number" value="@i" hidden />

                    <input asp-for="Users" value="@Model" />
                    <input class="submitButton" type="submit" value="Rediger" />
                }
                @using (Html.BeginForm("DeleteUser", "User", FormMethod.Get))
                {
                    @Html.ValidationSummary(true)
                    <input asp-for="Id" type="hidden" value="@i" />

                    <input asp-for="Users" type="hidden" value="@Model" />
                    <input class="submitButton" type="submit" value="Fjern" />
                }

            </dd>
        </dl>

    </div>
    <br />
}





