@model HostViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "AdminSite";
}
<div class="container-fluid">
    @using (Html.BeginForm("AdminSite", "Item", FormMethod.Get))
    {
        @Html.ValidationSummary(true)

        <input asp-for="SearchInput" type="text" />
        <button type="submit">Søg</button>
    }

    @for (int i = 0; i < Model.Hosts.Count; i++)
    {
        <div class="table-responsive">
            <table class="table-bordered w-100 p-3" style="text-align:center;">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(x => x.Hosts[i].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(x => x.Hosts[i].UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(x => x.Hosts[i].HostIp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(x => x.Hosts[i].VmWareVersion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(x => x.Hosts[i].NumberOfPeoplePerHost)
                        </th>
                        @if (Model.Hosts[i].Rented == true)
                        {
                            <th>
                                @Html.DisplayNameFor(x => x.Hosts[i].Rented)
                            </th>
                            <th>
                                @Html.DisplayNameFor(x => x.Hosts[i].TurnInDate)
                            </th>
                        }
                        <th>
                            Rediger Host
                        </th>
                        <th>
                            Fjern Host
                        </th>
                    </tr>

                </thead>

                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(x => x.Hosts[i].Name)
                        </td>
                        <td>
                            @Html.DisplayFor(x => x.Hosts[i].UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(x => x.Hosts[i].HostIp)
                        </td>
                        <td>
                            @Html.DisplayFor(x => x.Hosts[i].VmWareVersion)
                        </td>
                        <td>
                            @Html.DisplayFor(x => x.Hosts[i].NumberOfPeoplePerHost)
                        </td>
                        @if (Model.Hosts[i].Rented == true)
                        {
                            @for (int j = 0; j < Model.Bookings.Count; j++)
                            {
                                if (Model.Hosts[i].Id == Model.Bookings[j].Id)
                                {
                                    <td>
                                        @Html.DisplayFor(x => x.Hosts[i].Rented)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.Bookings[j].TurnInDate)
                                    </td>
                                }
                            }
                        }
                        <td>
                            @using (Html.BeginForm("EditItem", "Item", FormMethod.Get))
                            {
                                @Html.ValidationSummary(true)
                                <input asp-for="Id" type="number" value="@Model.Hosts[i].Id" hidden />
                                <button type="submit">Rediger</button>
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("DeleteItem", "Item", FormMethod.Get))
                            {
                                @Html.ValidationSummary(true)
                                <input asp-for="Id" type="number" value="@Model.Hosts[i].Id" hidden />
                                <button type="submit">Fjern</button>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
                <br />
        </div>
    }
</div>

