@model HostViewModel

@{
    ViewData["Title"] = "Bookings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Booking oversigt</h1>
@for (int i = 0; i < Model.Bookings.Count; i++)
{
    <table class="table-bordered" width="250">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fag</th>
                <th scope="col">Lejer</th>
                @if (Model.Bookings[i].HostsRentedForCourse.Count > 1)
                    @for (int j = 0; j < Model.Bookings[i].HostsRentedForCourse.Count; j++)
                    {
                        <th scope="col">#@j Hosts</th>
                    }
                    else
                    {
                        <th scope="col">Hosts</th>
                    }

                <th scope="col">Indleverings dato</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row">@i</th>
                <td>@Model.Bookings[i].CourseModel.Name</td>
                <td>@Model.Bookings[i].CurrentUser.FirstName</td>

                @for (int k = 0; k < Model.Bookings[i].HostsRentedForCourse.Count; k++)
                {
                    <td>@Model.Bookings[i].HostsRentedForCourse[k].Name</td>
                }
                <td>@Model.Bookings[i].TurnInDate</td>
            </tr>
        </tbody>
    </table>
}