@model UdlånsWeb.Models.BookingViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div style="width:250px">
        <form asp-action="InfoPage" asp-controller="Booking">

            <label asp-for="@Model.CourseModel.Name" class="control-label"></label>
            <br />
            <select asp-for="@Model.CourseModel.Name">
                @for (int i = 0; i < Model.CoursesForSelection.Count; i++)
                {
                    <option>@Model.CoursesForSelection[i].Name</option>
                }

            </select>
            <span asp-validation-for="@Model.CourseModel.Name"></span>
            <br />

            <label asp-for="@Model.RentDate" class="control-label"></label>
            <br />

            <input asp-for="@Model.RentDate" class="form-control" />
            <span asp-validation-for="@Model.RentDate" class="text-danger"></span>
            <br />
            @if (Model.CourseModel.Defined == true)
            {
                foreach (var item in Model.HostsRentedForCourse)
                {
                    <label asp-for="@Model.TurnInDate" class="control-label"></label>
                    <br />
                    <input asp-for="@Model.TurnInDate" class="form-control" />
                    <span asp-validation-for="@Model.TurnInDate" class="text-danger"></span>
                    <br />
                }
            }


            <label asp-for="@Model.CourseModel.NumberOfStudents" class="control-label"></label>
            <br />

            <input asp-for="@Model.CourseModel.NumberOfStudents" class="form-control" />
            <span asp-validation-for="@Model.CourseModel.NumberOfStudents" class="text-danger"></span>
            <br />

            <input style="margin-top:20px;" type="submit" value="Book" class="btn btn-primary" />
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


